TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=6920748706

SYMBOL=BTCUSDT
INTERVAL=15m

LOOKBACK=50
CANDLE_LIMIT=300

POLL_SECONDS=300
HTTP_TIMEOUT=10
DEPTH_LIMIT=20

BINANCE_BASE_URL=https://data-api.binance.vision
